Wasserkocher.adf
Wasserkocher.adf~
Wasserkocher.asm~
Wasserkocher.bin
Wasserkocher.bin~
Wasserkocher.hex
Wasserkocher.hex~
Wasserkocher.lst
Wasserkocher.lst~
Wasserkocher.mcu8051ide~
display.vhc~
led panel.vhc~
taster.vhc~
temp.vhc~
